body{
	color:#000000;
	background:#ffffff;
}
td{
	font-size:10pt;
	width:500;
	padding-left:20px;
}

td.title{
	font-size:11pt;
	color:#891001;
	font-weight:800;
	height:20pt;

}

a{
	color:#cccccc;
	font-size:10pt;
	text-decoration:none;
}

a:visited {
	color:#89100a;
	font-size:10pt;
	text-decoration:none;
}

a:active {
	color:#89100a;
	font-size:10pt;
	text-decoration:none;

}

a:hover {
	color:#89100a;
	font-size:10pt;
	text-decoration:none;
}



blockquote{
	border-style:double;
	border-color:#89100a;
	height:70;
	width:300;
	font-size:9pt;
	color:#000000;
	text-align:left;
}

div.infoBox1 {
	text-align:center;
	border:1px solid #000000;
	padding:6px 8px;
	margin-bottom:0px;
	font-size:9pt;
	background-color:#0000ff;
	color:#ffffff;
	
}

div.infoBox2 {
	text-align:left;
	border:1px solid #000000;
	padding:10px 8px;
	margin-bottom:10px;
	height:60pt;
}
